/*@media only screen and (orientation: landscape) and (max-width: 767px) {
#container { 
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-template-areas: "header header header header header header header header header header header header"
                         "title title title title title title title title title title title title"
                         "desc desc desc desc desc desc desc desc desc desc desc desc"
                         "bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson"
                         "purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle"
                         "purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose"
                         "reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: (12, 1fr);
    grid-template-rows: 8.83vh 91.17vh 200vh 100vh 10vh 190vh 91.17vh 8.83vh;
    }
}*/

@media only screen and (max-width: 767px)/*, only screen and (orientation: landscape) and (max-width: 767px)*/   {
.container { /*layout-start*/
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-template-areas: "header header header header header header header header header header header header"
                         "title title title title title title title title title title title title"
                         "desc desc desc desc desc desc desc desc desc desc desc desc"
                         "bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson bateson"
                         "purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle purposetitle"
                         "purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose purpose"
                         "reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf reconf"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: (12, 1fr);
    grid-template-rows: 8.83vh 91.17vh 200vh 100vh 10vh 190vh 91.17vh 8.83vh;
    }
}

    
/*layout-end*/



/*description section*/
@media only screen and (orientation: landscape) and (max-width: 767px) {
    /*#desc .jumper1 { 
        display: none;
        }
    #desc {
        flex-direction: column; 
        }*/
    #desc .desc1 {
        padding: 0vw 3vw 0vw 3vw;
        font-size: 1.2rem;
        line-height: 2.2; 
        margin-top: 4%;
        border-bottom: 2px solid #0019A8;
        }
    #desc .desc1 h2 { 
        font-size: 2rem;
        line-height: 1.5;
        padding-top: 2vh;
        
        }
    #desc .desc2 { 
        padding: 0vw 3vw 0vw 3vw;
        font-size: 1.2rem;
        line-height: 2.2;
        margin-top: 4%;
    }
    #desc .desc2 h2 {
        font-size: 2rem;
        line-height: 1.5;
        padding-bottom: 2vh;
        } 
}


@media only screen and (max-width: 767px) { 
    /* For mobile phones: */
.desc .jumper1 { 
    display: none;
    }
.desc {
    flex-direction: column; 
    }
.desc .desc1 {
    padding: 0vw 3vw 0vw 3vw;
    font-size: 1.2rem;
    line-height: 2.2; 
    margin-top: 30%;
    border-bottom: 2px solid #7600A5;
    }
.desc .desc1 h2 { 
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 2vh;
    
    }
.desc .desc2 { 
    padding: 0vw 3vw 0vw 3vw;
    font-size: 1.2rem;
    line-height: 2.2;
    margin-top: 30%;
}
.desc .desc2 h2 {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 2vh;
    }
}

 

/*purpose section*/

@media only screen and (max-width: 767px) { 
.purpose .jumper3 { 
    display: none;
    }
#purposetitle h2 {
    font-size: 2.2em;
    padding-top: 3vh;
    }
.purpose {
    flex-direction: column;
    }
.purpose .purpose1 h3 {
    font-size: 1.5rem;
    line-height: 2;
    margin: auto;
    padding-bottom: 2vh;
    display: flex;
    }
.purpose .purpose1 #diff {
    display: none;
    }
.purpose .purpose1 {
    padding: 0vh 3vw 1vh 4vw;
    font-size: 1.2rem;
    line-height: 2;
    margin-top: 20%;
    }
.purpose .purpose2 h3 {
    font-size: 1.5rem;
    line-height: 2;
    padding-bottom: 2vh;
    }
.purpose .purpose2 {
    padding: 0vh 3vw 15vh 4vw;
    font-size: 1.2rem;
    line-height: 2;
    margin-top: 25%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
    .purpose .purpose1 {
        padding: 0vh 3vw 1vh 4vw;
        font-size: 1.2rem;
        line-height: 2;
        margin-top: 2%;
        }
    .purpose .purpose2 {
        padding: 0vh 3vw 15vh 4vw;
        font-size: 1.2rem;
        line-height: 2;
        margin-top: 2%;
        }
}





   




    
